.navbar{
    
    height: 65px;
    position: relative;
    top: 70px;
   
   
}

.logo-image{
    width: 80px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;



}
body {
    color: #fff;
    background: #000000;
    background-image:url('https://res.cloudinary.com/cloudwojay/image/upload/v1635877644/Landing-page-background_x264_e2nhxo.gif'); background-repeat:repeat; 
    height: 100vh;
    padding:0;
    margin:0;
background-size: 100%;
background-blend-mode}


main{
    position: relative;
    top: 161px;
}

.headtext{
    position: relative;
    left: auto;
    right: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
}

.paragraph{
    
    padding: 0px;
    margin-top: 0px;
    font-size: 18px;
    text-align: center;

}

.creator{
    color: #F9C900; font-style: normal; 
}

.waitlist{
    font-size: 18px;
    padding-top:90px;
    text-align: center;
}

a{
    color: white;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color:#F9C900;
}